## Práctica de ETL con panda

### ETL y Validación de Datos

In [1]:
import pandas as pd

C:\Users\Alumno\AppData\Local\Temp\ipykernel_10780\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
Net = pd.read_csv('netflix_titles.csv')

In [3]:
Net.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [4]:
#debemos cambiar object por int en la date_added
# no se deben de elimar los registros nulos por que asi se desaparecer todos los registros

In [5]:
Net.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [6]:
Net.sample()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
3089,s3090,Movie,Hot Gimmick: Girl Meets Boy,Yuki Yamato,"Miona Hori, Hiroya Shimizu, Shotaro Mamiya, Mi...",Japan,"December 28, 2019",2019,TV-MA,120 min,"Dramas, International Movies",A quiet teen's life is shaken up when she's fo...

In [7]:
Net.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

## Creación de DataFrames y Normalización de Datos

In [8]:
Net_peliculas = Net.loc[Net['type'] == 'Movie']
Net_series = Net.loc[Net['type'] == 'TV Show']

In [9]:
Pelis=Net[Net['type']=='Movie']

In [10]:
Net['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

In [11]:
Pelis.sample()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6503,s6504,Movie,Cloverfield,Matt Reeves,"Lizzy Caplan, Jessica Lucas, T.J. Miller, Mich...",United States,"January 1, 2020",2008,PG-13,85 min,"Action & Adventure, Horror Movies, Sci-Fi & Fa...",A going-away party in Manhattan is interrupted...

In [12]:
Serie=Net[Net['type']=='TV Show']

In [13]:
Net['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

In [14]:
Serie.sample()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4634,s4635,TV Show,Transformers: Rescue Bots,NaN,"Lacey Chabert, Elan Garfias, Maurice LaMarche,...","Canada, United States","September 19, 2018",2016,TV-Y7,1 Season,Kids' TV,Follow the adventure of four young transformer...

In [15]:
Pelis['date_added']= Pelis['date_added'].str.strip()

C:\Users\Alumno\AppData\Local\Temp\ipykernel_10780\2491271734.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Pelis['date_added']= Pelis['date_added'].str.strip()

In [16]:
Pelis['date_added'] = pd.to_datetime(Pelis['date_added'])

C:\Users\Alumno\AppData\Local\Temp\ipykernel_10780\2866874150.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Pelis['date_added'] = pd.to_datetime(Pelis['date_added'])

In [17]:
Pelis.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6131 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6131 non-null   object
 1   type          6131 non-null   object
 2   title         6131 non-null   object
 3   director      5943 non-null   object
 4   cast          5656 non-null   object
 5   country       5691 non-null   object
 6   date_added    6131 non-null   datetime64[ns]
 7   release_year  6131 non-null   int64
 8   rating        6129 non-null   object
 9   duration      6128 non-null   object
 10  listed_in     6131 non-null   object
 11  description   6131 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 622.7+ KB

In [18]:
Serie['date_added']= Serie['date_added'].str.strip()

C:\Users\Alumno\AppData\Local\Temp\ipykernel_10780\2239571892.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Serie['date_added']= Serie['date_added'].str.strip()

In [19]:
Serie['date_added'] = pd.to_datetime(Serie['date_added'])

C:\Users\Alumno\AppData\Local\Temp\ipykernel_10780\1824628848.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Serie['date_added'] = pd.to_datetime(Serie['date_added'])

In [20]:
Serie.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2676 entries, 1 to 8803
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       2676 non-null   object
 1   type          2676 non-null   object
 2   title         2676 non-null   object
 3   director      230 non-null    object
 4   cast          2326 non-null   object
 5   country       2285 non-null   object
 6   date_added    2666 non-null   datetime64[ns]
 7   release_year  2676 non-null   int64
 8   rating        2674 non-null   object
 9   duration      2676 non-null   object
 10  listed_in     2676 non-null   object
 11  description   2676 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 271.8+ KB

In [21]:
Net_peliculas['duration'] = Net_peliculas['duration'].str.replace(' min','')
Net_peliculas['duration'] = Net_peliculas['duration'].str.strip()
Net_peliculas['duration'] = Net_peliculas['duration'].astype(float)

C:\Users\Alumno\AppData\Local\Temp\ipykernel_10780\3278783242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Net_peliculas['duration'] = Net_peliculas['duration'].str.replace(' min','')
C:\Users\Alumno\AppData\Local\Temp\ipykernel_10780\3278783242.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Net_peliculas['duration'] = Net_peliculas['duration'].str.strip()
C:\Users\Alumno\AppData\Local\Temp\ipykernel_10780\3278783242.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Net_peliculas['duration'] = Net_peliculas['duration'].astype(float)

## Función de Búsqueda de Filmografía

función que busque en los registros de 'cast' y genere la filmografía dado el nombre del actor.

In [98]:
def filmografia(actor:str):     #Filmografia que solo se usa cadena de texto
    result1= Pelis[Pelis['cast'].str.contains(actor,na=False)]      #Filtra registros solo con cadena de texto en la seccion de peliculas
    result2= Serie[Serie['cast'].str.contains(actor, na=False)]     #Filtra regietros solo de cadena de texto en la seccion de series
    result1= result1[['title','release_year','type']]       #sirve para almacenar datos y sobreescribir con las colimnas tille release_year type
    result2= result2[['title','release_year','type']]       #sirve para almacenar datos y sobreescribir con las colimnas tille release_year type
    result= pd.concat([result1,result2],axis=0).sort_values(by='release_year',ascending=True)       #se gunta dos tablas y se modivica por el año del mas chico al mas grande
    result['type']= result['type'].str.replace('Movie','Peliculas').replace('TV Show','Serie')
    return result.rename(columns={'title':'Titulo','release_year':'Año de lanzamiento','type':'Tipo'}).reset_index(drop=True)

Para usar la función, simplemente pasa el nombre del actor como argumento:

In [99]:
filmografia('Tom Hollan')

                         Titulo  Año de lanzamiento       Tipo
0                  Gosford Park                2001  Peliculas
1                The Impossible                2012  Peliculas
2                    About Time                2013  Peliculas
3                         Locke                2013  Peliculas
4                 A Private War                2018  Peliculas
5                      Bird Box                2018  Peliculas
6  Mowgli: Legend of the Jungle                2018  Peliculas
7        Avengers: Infinity War                2018  Peliculas
8        The Devil All The Time                2020  Peliculas